html {
    font-size: 62.5%;
    font-family: "Helvetica Neue", sans-serif;
    height: 100%;
}

body {
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal align, because of flex-direction: column */
    justify-content: center; /* vertical align, because of flex-direction: column */
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.congrats-container {
    width: 100%;
    display: grid;
    border: 2px solid white;
}

.text,
.animation {
    grid-row: 1;
    grid-column: 1;
}

.text {
    font-size: 2rem;
    text-align: justify;
    /* text-indent: 1em; */
    padding: .5em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    z-index: 1;
}

.text p {
    margin: .5em;
}

.animation {
    visibility: hidden;
    overflow-x: auto;
}

.animation canvas {
    z-index: -1;
    overflow-x: auto;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    z-index: 1;
}

#love-slider {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    appearance: none;
    outline: none;
    width: 100px;
    height: 50px;
    background-image: url("../assets/imgs/1.png");
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0px 2px 5px 1px darkgrey;
    transition: background-image 0.5s;
}

#love-slider:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: 0;
    left: 0;
    background-color: #dadee0;
    transition: all 0.5s;
}

#love-slider:checked {
    background-image: url("../assets/imgs/2.png");
    background-size: cover;
    transition: background-image 0.5s;
}

#love-slider:checked:before {
    transform: translate(100%);
    transition: all 0.5s;
    background-color: #454749;
}